.provider-info {
    ul li {
        list-style: none;
        margin: 0;
        padding: 0;


        &:hover {
            background-color: aqua;
        }
    }
}

.customer-info-facture {
    ul li {
        list-style: none;
        margin: 0;
        padding: 0;

    }
}

.table-invoice-header {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.table-invoice-body {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.pannier-show-header {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid grey;
    font-weight: bold;
}

.pannier-show-body-js {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 10px;
}

.article-designation {
    padding-right: 20px;

}

.detail-info {
    display: block;
    padding-left: 10px;
}

.invoice-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.panier {
    tr {
        width: 100%;
        display: grid;
        grid-template-columns: auto 10% 10% 10% 10% 10%;
    }
}

.show_total {
    width: 100%;
    display: flex;
    justify-content: end;


}

.total_value {
    float: right;
}

.facture-container {
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;

}

.info-header {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.facture-header {

    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo {
        background-color: red;
    }
}

.facture-reference {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.customer-info {
    border: 1px solid grey;
    padding: 10px;

}

.facture-table {
    width: 100%;
    background-color: antiquewhite;
}

.facture-table-grid {


    background-color: blueviolet;
}

.facture-total {
    width: 150px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    float: right;
    border: 1px solid gray;
    border-radius: 15px;

    .title {
        text-align: right;

    }

    .value {
        text-align: right;
    }
}