.provider-info {
    ul li {
        list-style: none;
        margin: 0;
        padding: 0;


        &:hover {
            background-color: aqua;
        }
    }
}

.customer-info-facture {
    ul li {
        list-style: none;
        margin: 0;
        padding: 0;

    }
}

.invoice-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.panier {
    tr {
        width: 100%;
        display: grid;
        grid-template-columns: auto 10% 10% 10% 10% 10%;
    }
}

.show_total {
    width: 100%;
    display: flex;
    justify-content: end;


}