.provider-info {
    ul li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.customer-info-facture {
    ul li {
        list-style: none;
        margin: 0;
        padding: 0;

    }
}

.table-invoice-header {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-color: rgb(192, 187, 187);
}

.table-invoice-body {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.pannier-show-header {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid grey;
    font-weight: bold;
}

.pannier-show-body-js {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr 1fr 1fr;
    padding-bottom: 10px;
}

.article-designation {
    padding-right: 20px;

}

.invoice-article-index {
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.vertical-align-top {
    height: auto;
    vertical-align: top;
}

.align-right {

    text-align: right;

}

.detail-info {
    position: relative;

    display: block;
    padding-left: 10px;
}

.detail-info::before {
    content: '-';
}

.invoice-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.bank-info {
    width: 300px;
    font-size: 0.8em;
    border: 1px solid gray;
    padding: 5px;

    span {
        font-weight: bold;
    }

}

.panier {
    tr {
        width: 100%;
        display: grid;
        grid-template-columns: auto 10% 10% 10% 10% 10%;
    }
}

.show_total {
    width: 100%;
    display: flex;
    justify-content: end;


}

.title-total {
    padding-right: 10px;
    text-align: right;
}

.value-total {
    text-align: right;
}

.value-total::after {
    content: '€';
}

.article-price::after {
    content: '€';
}

.total_value {
    float: right;
}

.invoice-footer {
    border-top: 1px solid gray;
    padding-top: 10px;
}

.facture-container {
    height: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;

}

.info-header {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.facture-header {

    width: 100%;
    display: flex;
    justify-content: space-between;

    .logo {
        background-color: red;
    }
}

.facture-reference {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.customer-info {
    border: 1px solid grey;
    padding: 10px;

}

.facture-table {
    width: 100%;

}

.facture-total {
    width: 150px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    float: right;
    border: 1px solid gray;
    border-radius: 15px;

    .title {
        text-align: right;

    }

    .value {
        text-align: right;
    }
}