.login-card-center {
    width: 100%;
    display: flex;
    justify-content: center;

}

.login-card {
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(239, 249, 250);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    h1 {
        text-align: center;
        margin-bottom: 10%;
    }

    .link-forgot-password {
        width: 100%;
        text-align: right;


    }

    button {
        margin-top: 40px;
        border-radius: 30px;
        width: 100%;
    }

    .reseaux-social {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .reseaux-social-wrapper {
        margin-top: 50px;
        width: 180px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    input {
        transition: 0.5s;
        outline: none;
    }

    input:focus {
        border: 3px solid rgb(121, 216, 233);
    }
}