.user_email_nav {
    font-size: small;
}

.title_bulle_info_cercle {

    padding-right: 30px;
}

.bulle-info-cercle {
    width: 30px;
    height: 30px;
    background-color: rgb(138, 174, 251);
    clip-path: ellipse(50% 50%);
    text-align: center;
    color: beige;
}

.gestion_reservation_nav {
    display: flex;
    justify-content: space-between;
}