.reservation_confirmation_wraper {

    border: 1px solid yellow;
    border-radius: 10px;
    padding: 10px;

    header {
        background-color: antiquewhite;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        color: red;
    }
}

.cconfirmation-card {
    background-color: white;
    box-shadow: 10px 10px 10px 10px rgb(234, 236, 237);
}