* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100%;
    position: relative;
    padding-bottom: 5em;
    margin-bottom: -5em;

}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;

}

.container {
    margin-bottom: 6em;
}

.container-fluid {
    margin-bottom: 6em;
}