* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}


@mixin wide-screen {
    @media screen and (min-width: 1600px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 400px) and (max-width: 1200px) {
        @content;
    }
}