*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
}
body{
    position: relative;
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 5rem;
    background-color:$background-color ;

}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
}

a{
    color: $primary;
    text-decoration: none;
    &:active{
        text-decoration: none;
    }
    &:visited{
        color:$primary;
    }
}

@mixin wide-screen {
    @media screen and (min-width: 1600px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 400px) and (max-width: 1200px) {
        @content;
    }
}

.container{
    
    width: 90%;
   
    margin-left: auto;
    margin-right: auto;


    @include mobile(){
       
        width: 100%;
    }

}
main{
    margin-top: 2rem;
    @include mobile(){
        width: 100%;
        margin-top: 1rem;
     
       
        
    }
}
.form-container{
    margin-left: 10px;
    margin-right: 10px;
}
.form-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btn-item-align{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cadre{
    border: 1px solid grey;
    padding: 5px;
    margin: 5px 2px;
}