// @import "bootstrap/scss/bootstrap.scss";
@import "variables", "reset", "template", "nav";

// @import "libs/chart";
.driver_show_card_title {
    display: flex;
    justify-content: space-between;
}

.check_valide_color {
    color: green;
    height: 24px;
    width: 24px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.alert {
    width: 100%;
    padding: 10px;
    border-radius: 15px;

}

.alert-success {
    background-color: green;
}

.title_bulle_info_cercle {

    padding-right: 30px;
}

.bulle-info-cercle {
    width: 30px;
    height: 30px;
    background-color: orange;
    clip-path: ellipse(50% 50%);
    text-align: center;
    color: beige;

}

.profile_photo {
    width: 200px;
    height: 200px;
    clip-path: ellipse(50% 50%);
}

.home-driver-container-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.driver-card {
    /* width: 300px;
    height: 450px; */
    padding: 10px;
    border: 1px solid grey;
    margin: 10px;
}

.bottom-button-nav-position {
    display: flex;
    justify-content: space-between;
}