{% extends 'base.html.twig' %}

{% block title %}Show all driver
{% endblock %}

{% block body %}
	<h1>Bienvenue</h1>
	<section>
		<form action="">
			<label for="search">Recherche</label>
			<input type="search" name="" id="" placeholder="Name, compagny">
			<input type="submit" value="Recherche">


		</form>
	</section>

	<a href="{{ path('app_home')}}">Retour</a>

	<div class="home-driver-wrapper-flex">
		{{ include('home/_drivers.html.twig')}}
	</div>

{% endblock %}
