{% extends 'base.html.twig' %}

{% block title %}VTC Union!
{% endblock %}

{% block body %}

	<h1>Bienvenue</h1>


	<header>
		<div
			class="header-pictus">{# <img src="{{ asset('/images/header/header.jpg') | imagine_filter('my_fixed_filter') }}" alt=""> #}

		</div>


	</header>

	<a href="{{ path('app_reservation_new',{slug:"null"})}}">Effectuer une Reservation</a>

	<section>
		<h2>Service</h2>
		<div class="service-wrapper"></div>


	</section>

	<section>
		<h2>Driver</h2>
		<a role="button" href="{{ path('app_public_all_drivers_show')}}">Tous les drivers</a>
		{{ include('home/_drivers.html.twig')}}
	</section>

{% endblock %}
