.user_email_nav {
  font-size: small;
}

.badge-info-cercle {
  width: 25px;
  height: 25px;
  background-color: rgb(248, 222, 79);
  clip-path: ellipse(50% 50%);
  text-align: center;
  vertical-align: baseline;
  color: rgb(24, 31, 239);
  font-size: 15px;
  font-weight: bold;
}

.gestion_reservation_nav {
  display: flex;
  justify-content: space-between;
}

.item-with-badge {
  position: relative;
}

.badge-position {
  position: absolute;
  top: 0;
  right: -7px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.reservation_confirmation_wraper {
  border: 1px solid yellow;
  border-radius: 10px;
  padding: 10px;
}
.reservation_confirmation_wraper header {
  background-color: antiquewhite;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  color: red;
}

.cconfirmation-card {
  background-color: white;
  box-shadow: 10px 10px 10px 10px rgb(234, 236, 237);
}

.user_avatar {
  width: 80px;
  height: 80px;
  clip-path: ellipse(20% 20%);
}

.profile_photo {
  width: 200px;
  height: 200px;
  clip-path: ellipse(50% 50%);
}

.login-card-center {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-card {
  width: 400px;
  height: 600px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(129, 231, 242);
}
.login-card h1 {
  text-align: center;
  margin-bottom: 10%;
}
.login-card .link-forgot-password {
  position: relative;
  width: 100%;
  text-align: right;
}
.login-card button {
  margin-top: 40px;
  border-radius: 30px;
}
.login-card .reseaux-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-card .reseaux-social-wrapper {
  height: 100px;
  width: 180px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-card .reseaux-social-wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
h1 {
  color: rgb(77, 69, 233);
}

.display-flex {
  display: flex;
}

.item-flex-center {
  justify-content: center;
}

.item-space-betweend {
  justify-content: space-between;
}

.header-pictus {
  width: 100%;
  height: 500px;
  background-color: aquamarine;
}
.header-pictus img {
  width: 100%;
  height: 500px;
}

.alert-success {
  background-color: aquamarine;
}

.alert-warning {
  background-color: orange;
}

.home-driver-wrapper-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.driver-card {
  width: 300px;
  height: 500px;
  border: 1px solid rgb(247, 229, 229);
  padding: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.driver-card header {
  border-bottom: 1px solid yellow;
  padding: 5px;
  background-color: rgb(212, 211, 211);
}
.driver-card footer {
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  background-color: aquamarine;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media screen and (max-width: 800px) {
  .home-driver-wrapper-flex {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .nav {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
