{% extends 'base.html.twig' %}

{% block title %}Hello ReservationWorkflowController!
{% endblock %}

{% block body %}
	<div class="display-flex item-space-betweend">


		<h1>Reservations en cours</h1>


		<a href="#">Cours terminer</a>

	</div>


	<table>
		<thead>

			<tr>

				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Telephone</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for reservation in reservations %}
				<tr>

					<td>{{reservation.name}}</td>
					<td>{{reservation.email}}</td>
					<td>{{reservation.telephone}}</td>
					<td>
						<a href="{{ path('app_reservation_workflow_show',{'slug':reservation.slug})}}">Voir</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="15">Pas de nouvelle reservation</td>
				</tr>
			{% endfor %}


		</tbody>


	</table>


{% endblock %}
