{% extends 'base.html.twig' %}

{% block title %}Hello ReservationWorkflowController!
{% endblock %}

{% block body %}
	<h1>Reservations</h1>
	{% for reservation in reservations %}
		<table>
			<thead>
				<tr>


					<h2>Mes Reservations</h2>


				</tr>
				<tr>

					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Telephone</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for reservation in reservations %}
					<tr>

						<td>{{reservation.name}}</td>
						<td>{{reservation.email}}</td>
						<td>{{reservation.telephone}}</td>
						<td>
							<a href="{{ path('app_moderator_driver_show',{'slug':reservation.slug})}}">Voir</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="15">Pas de demande de validation</td>
					</tr>
				{% endfor %}


			</tbody>

		</table>
	{% endfor %}

{% endblock %}
