{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<h1>Admin</h1>
	<a href="{{ path('app_admin_user_index') }}">Edition User</a>
	<a href="{{ path('app_car_category_index')}}">Car Category</a>
{% endblock %}
