{% extends 'base.html.twig' %}

{% block title %}New ServiceListe{% endblock %}

{% block body %}
    <h1>Create new ServiceListe</h1>

    {{ include('service_liste/_form.html.twig') }}

    <a href="{{ path('app_service_liste_index') }}">back to list</a>
{% endblock %}
