{% extends 'base.html.twig' %}

{% block title %}Facture
{% endblock %}

{% block body %}
	<h1>Facture</h1>
	<nav class="facture-nav">
		<ul>
			<span></span>
			<li>
				<a role='button' href="{{ path('app_facture_new')}}">New Facture</a>
			</li>

		</ul>

	</nav>
{% endblock %}
