{% extends 'base.html.twig' %}

{% block title %}Facture
{% endblock %}

{% block body %}

	<div class="facture-container">
		<h1>Facture N:1233456789</h1>
		<section class="info-header">
			<div class="company-info">
				Asia transport prive
				<br>
				9 rue alber Parissot
				<br>
				27300 Massy
				<br>
			</div>
			<div class="customer-info">
				<h6>Client:</h6>
				Jean-louis Chen
				<br>
				2 rue des graviers
				<br>
				91300 Massy
				<br>
				France
			</div>
		</section>
		Date: 12/12/2024 a Massy

		<section class="facture-content">

			<table>
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Heading</th>
						<th scope="col">Heading</th>
						<th scope="col">Heading</th>
						<th scope="col">Heading</th>
						<th scope="col">Heading</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
					</tr>
					<tr>
						<th scope="row">1</th>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
					</tr>
					<tr>
						<th scope="row">1</th>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th scope="col"></th>
						<td scope="col"></td>
						<td scope="col"></td>
						<td scope="col"></td>
						<td scope="col">Total Ht</td>
						<td scope="col">200</td>
					</tr>
					<tr>
						<th scope="col"></th>
						<td scope="col"></td>
						<td scope="col"></td>
						<td scope="col"></td>
						<td scope="col">Total tva</td>
						<td scope="col">200</td>
					</tr>
					<tr>
						<th scope="col"></th>
						<td scope="col"></td>
						<td scope="col"></td>
						<td scope="col"></td>
						<td scope="col">Total TTC</td>
						<td scope="col">200</td>
					</tr>
				</tfoot>
			</table>
		</section>
		<p class="text-show-tva">TVA non applicable selon l'article 293 B du Code Général des Impôts » en bas de la facture de l'entreprise non-assujettie. Total hors taxes de la transaction, à mentionner par la dénomination « Total net de TVA</p>

		<section class="bank-info">
			<table class='bank-table'>

				<tr>
					<th scope="row">RIB</th>
					<td>FR123456789</td>

				</tr>
				<tr>
					<th scope="row">Code banque</th>
					<td>2034</td>

				</tr>
				<tr>
					<th scope="row">Adresse</th>
					<td>56 Rue du general de gaulle</td>

				</tr>

			</table>

		</section>

		<p>
			Le taux des pénalités ne peut pas être inférieur à 14,76 %. Les pénalités de retard peuvent être appliquées sans avoir à faire un rappel de paiement. Une indemnité forfaitaire pour frais de recouvrement est également appliquée. Son montant est égal à 40 €
		</p>

	</div>
{% endblock %}
